<div class="container my-3">
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
  <p-table #dt1 [value]="listEmployee" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
    styleClass="p-datatable-striped" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [responsive]="true" [rowsPerPageOptions]="[10,25,50]" [lazy]="true" (onLazyLoad)="pageChanged($event)"
    [totalRecords]="pagination?.totalItems" [loading]="loading">
    <ng-template pTemplate="caption">
      <div class="d-flex justify-content-between">
        <div class="col-md-3 col-6">
          <button type="button" class="btn btn-primary mb-2 me-2" (click)="edit(null, popup)">
            <i class="fa fa-plus me-2"></i> Add
          </button>
          <button type="button" class="btn btn-success ml-2 mb-2" (click)="exportExcel()">
            <i class="fa fa-file-excel-o me-2"></i> Xlsx
          </button>
        </div>
        <div class="col-md-3 col-6">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search"
              (input)="dt1.filterGlobal($event.target.value, 'contains')">
            <span class="input-group-text" id="basic-addon2">
              <i class="fa fa-search"></i>
            </span>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr style="font-size: small;">
        <th style="width: 6%;" scope="col">Edit</th>
        <th pSortableColumn="nik"><p-sortIcon field="nik"></p-sortIcon> Employee</th>
        <th pSortableColumn="nama"><p-sortIcon field="nama"></p-sortIcon> Nama</th>
        <th pSortableColumn="department"><p-sortIcon field="department"></p-sortIcon> Department</th>
        <th style="width: 18%;" pSortableColumn="birthDate"><p-sortIcon field="birthDate"></p-sortIcon>Birth Date</th>
        <th style="width: 6%;" scope="col">Del</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr style="font-size: small;">
        <td>
          <button type="button" class="btn btn-sm btn-primary" (click)="edit(item, popup)">
            <i class="fa fa-pencil"></i>
          </button>
        </td>
        <td>
          <div class="row ml-2">
            <div class="table-img">
              <img [src]="item.photo" width="50" height="50">
            </div>
            <div class="col-8">
              <div class="w-100">
                {{item.nama | titlecase}}
              </div>
              <span class="text-primary">{{item.nik}}</span>
            </div>
          </div>
        </td>
        <td>{{item.nama | titlecase}}</td>
        <td>{{item.department}}</td>
        <td>{{item.birthDate | date:'dd MMMM yyyy'}}</td>
        <td>
          <button type="button" class="btn btn-sm btn-danger" (click)="delete(item)">
            <i class="fa fa-times"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <!-- <table class="table table-sm table-bordered table-striped">
    <thead>
      <tr>
        <th class="text-center" scope="col">Edit</th>
        <th scope="col">NIK</th>
        <th scope="col">Nama</th>
        <th scope="col">Department</th>
        <th scope="col">Birth Date</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listEmployee">
        <td class="text-center">
          <button type="button" class="btn btn-sm btn-primary" (click)="edit(item, popup)">
            <i class="fa fa-pencil"></i>
          </button>
        </td>
        <td>{{item.nik}}</td>
        <td>{{item.nama | titlecase}}</td>
        <td>{{item.department}}</td>
        <td>{{item.birthDate | date:'dd MMMM yyyy'}}</td>
        <td class="text-center">
          <button type="button" class="btn btn-sm btn-danger" (click)="delete(item)">
            <i class="fa fa-times"></i>
          </button>
        </td>
      </tr>
    </tbody>
    <caption>
      <div class="row ml-1">
        <div class="col-2">
          <select class="form-control" aria-label="Item Per Page" name="itemPerPage" [(ngModel)]="pageSize"
            (change)="itemPerPageChange($event.target.value)">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
          </select>
        </div>
        <div class="col">
          <pagination [totalItems]="pagination.totalItems" [(ngModel)]="pagination.currentPage"
            (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" [maxSize]="10" [boundaryLinks]="true">
          </pagination>
        </div>
      </div>
    </caption>
  </table> -->


  <ng-template #popup>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Edit Employee</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="modalRef.hide()"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="needs-validation" [formGroup]="employeeForm">
          <div class="mb-3">
            <label for="nik" class="form-label">NIK</label>
            <input type="text" class="form-control" formControlName="nik" placeholder="Employee Id"
              (blur)="getEmployee()"
              [ngClass]="{'is-invalid': employeeForm.get('nik').errors && employeeForm.get('nik').touched}">
            <div class="invalid-feedback">
              Harap isi NIK
            </div>
          </div>
          <div class="mb-3">
            <label for="nama" class="form-label">Nama</label>
            <input type="text" class="form-control" formControlName="nama" placeholder="Nama"
              [ngClass]="{'is-invalid': employeeForm.get('nama').errors && employeeForm.get('nama').touched}">
            <div class="invalid-feedback">
              Harap isi Nama
            </div>
          </div>
          <div class="mb-3">
            <label for="birthDate" class="form-label">Birth Date</label>
            <div class="input-group">
              <input type="text" class="form-control" #dp1="bsDatepicker" formControlName="birthDate"
                placeholder="Birth Date"
                [ngClass]="{'is-invalid': employeeForm.get('birthDate').errors && employeeForm.get('birthDate').touched}"
                bsDatepicker [bsConfig]="bsConfig">
              <div class="input-group-append">
                <button class="btn btn-outline-primary" (click)="dp1.toggle()" [attr.aria-expanded]="dp1.isOpen">
                  <i class="fa fa-calendar"></i>
                </button>
              </div>
            </div>
            <div class="invalid-feedback">
              Harap isi Tanggal Lahir
            </div>
          </div>
          <div class="mb-3">
            <label for="department" class="form-label">Department</label>
            <!-- <select class="form-control" aria-label="select department" formControlName="departmentId"
                  [ngClass]="{'is-invalid': employeeForm.get('departmentId').errors && employeeForm.get('departmentId').touched}">
                  <option *ngFor="let item of department" [value]="item.value" >{{item.label}}</option>            
                </select> -->
            <p-dropdown [options]="department" formControlName="departmentId" optionLabel="label" optionValue="value"
              [filter]="true" [style]="{'width':'100%'}" class="d-block w-100"
              [ngClass]="{'is-invalid': employeeForm.get('departmentId').errors && employeeForm.get('departmentId').touched}">
            </p-dropdown>
            <div class="invalid-feedback">
              Harap pilih department
            </div>
          </div>
          <div class="mb-3">
            <label for="grade" class="form-label">Grade</label>
            <select class="form-control" aria-label="select grade" formControlName="grade"
              [ngClass]="{'is-invalid': employeeForm.get('grade').errors && employeeForm.get('grade').touched}">
              <option *ngFor="let item of grade" [value]="item.value">{{item.label}}</option>
            </select>
            <!-- <input type="text" class="form-control" formControlName="grade" placeholder="Grade"> -->
          </div>
          <div class="mb-3">
            <button type="button" class="btn btn-sm btn-danger mr-2" (click)="save()">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-2"></span>
              <i *ngIf="!loading" class="fa fa-save mr-2"></i>Save
            </button>
            <button type="button" class="btn btn-sm btn-secondary" (click)="modalRef.hide()">
              <i class="fa fa-undo mr-2"></i> Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </ng-template>
</div>