<div class="py-3 p-lg-4 mb-3 bg-light rounded-3 d-flex">
  <div class="py-3">
    <h3 class="display-5 fw-bold">Learning (Advanced Version)</h3>
    <p class="fs-4">
      Express your skills here, and re-read whenever you need it!
    </p>
  </div>
</div>

<div class="container">
  <div class="mb-3">
    <p class="fw-bold">Angular Components</p>
    <div class="row row-cols-lg-3">
      <div class="col-12 col-md">
        <div class="card">
          <img class="card-img-top" src="https://placehold.co/40x40/" alt="Title" />
          <div class="card-body">
            <h4 class="card-title">Content Projections</h4>
            <p class="card-text">Angular content projection is a technique that allows you to pass content from a parent
              component into a child component and render it in specific locations within the child component's template
            </p>
            <div class="d-flex justify-content-end">
              <a class="btn btn-primary" href="#" [routerLink]="['api/content-projections']">
                View<i class="fa fa-arrow-right ms-2"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <p class="fw-bold">Angular Component Dev Kit (Angular CDK)</p>
    <div class="row row-cols-lg-3">
      <div class="col-12 col-md">
        <div class="card">
          <img class="card-img-top" src="https://placehold.co/40x40/" alt="Title" />
          <div class="card-body">
            <h4 class="card-title">Drag And Drop</h4>
            <p class="card-text">The {{'@angular/cdk/drag-drop'}} module provides you with a way to easily and
              declaratively create drag-and-drop interfaces
            </p>
            <div class="d-flex justify-content-end">
              <a class="btn btn-primary" href="#" [routerLink]="['api/dragndrop']">
                View<i class="fa fa-arrow-right ms-2"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <p class="fw-bold">Cascading Style Sheets (CSS)</p>
    <div class="row row-cols-lg-3">
      <div class="col-12 col-md">
        <div class="card">
          <img class="card-img-top" src="https://placehold.co/40x40/" alt="Title" />
          <div class="card-body">
            <h4 class="card-title">Animations</h4>
            <p class="card-text">An animation lets an element gradually change from one style to another</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <p class="fw-bold">Reactive Programming (RxJS)</p>
    <div class="row row-cols-lg-3">
      <div class="col-12 col-md">
        <div class="card">
          <img class="card-img-top" src="https://placehold.co/40x40/" alt="Title" />
          <div class="card-body">
            <h4 class="card-title">Observables & Observers</h4>
            <p class="card-text">
              <span class="fw-bold">Observables:</span> represents the idea of an invokable collection of future values
              or events. <br>
              <span class="fw-bold">Observers:</span> is a collection of callbacks that knows how to listen to values
              delivered by the Observable
              or events.
            </p>
            <div class="d-flex justify-content-end">
              <a class="btn btn-primary" href="#" [routerLink]="['reactive/observable-observer']">
                View<i class="fa fa-arrow-right ms-2"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>