<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Ninth navbar example">
    <div class="container">
        <a class="navbar-brand" href="#">TRAINING</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07XL"
            aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07XL">
            <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                    <a class="nav-link" aria-current="page" [routerLink]="['/employee']" routerLinkActive="router-link-active" >Employee</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown07XL" data-bs-toggle="dropdown"
                        aria-expanded="false">Dropdown</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown07XL">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li> -->
            </ul>
        </div>
        <div class="float-right">
            <form *ngIf="!loggedIn()" class="form-row" #loginForm="ngForm" (submit)="login()">
                <div class="col-auto">
                    <input type="text" class="form-control" name="username" required [(ngModel)]="model.username" placeholder="User Id">
                </div>
                <div class="col-auto">
                    <input type="password" class="form-control" name="password" required [(ngModel)]="model.password" placeholder="Password">
                </div>
                <div class="col-auto">
                    <button [disabled]="loading" type="submit" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-2"></span>
                        <i *ngIf="!loading" class="fa fa-lock"></i>
                        Login
                    </button>
                </div>
            </form>
            <div *ngIf="loggedIn()" class="btn-group" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                    aria-controls="dropdown-basic">
                    {{authService.decodedToken?.unique_name | titlecase}} <span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                    <li role="menuitem"><a class="dropdown-item" href="#">Change Password</a></li>
                    <li role="menuitem"><a class="dropdown-item" (click)="logout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>