<div class="container">
  <div class="mt-3">
    <div class="text-center">
      <img class="d-block mx-auto mb-2" src="assets/amg_logo.png" alt="" width="72" height="72">
      <h5>PT Asahimas Flat Glass, Tbk</h5>
      <h6>Kuesioner Lebaran 2021</h6>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-6">
        <form [formGroup]="checkInForm" (submit)="submit()">
          <div class="form-group">
            <label for="nikorname">Identitas Karyawan</label>
            <p-autoComplete [suggestions]="filteredEmp" (completeMethod)="filterUser($event)" field="nama" [size]="10"
              placeholder="Isi NIK atau nama" formControlName="nik" [minLength]="4" [style]="{'width':'100%'}"
              [inputStyle]="{'width':'100%'}" (onSelect)="filterSelect($event)"
              [ngClass]="{'is-invalid': checkInForm.get('nik').errors && checkInForm.get('nik').touched}">
              <ng-template let-item pTemplate="item">
                <div class="my-0">
                  {{item.nama}}
                </div>
                <small>{{item.nik}}</small>
              </ng-template>
            </p-autoComplete>
            <div class="invalid-feedback">
              Harap isi NIK
            </div>
          </div>
          <div class="form-group">
            <label for="kondisi">Kondisi</label>
            <div class="row">
              <div *ngFor="let item of ddlKondisi">
                <div class="col">
                  <div class="form-check form-check-inline">
                    <p-radioButton name="option" [value]="item.value" [label]="item.label" (onClick)="optionCheck()"
                      formControlName="kondisi">
                    </p-radioButton>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="mb-3">
            <button class="btn btn-danger" type="submit" [disabled]="loading">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"></span>
              <i *ngIf="!loading" class="fa fa-save mr-2"></i>Submit
            </button>
          </div>          
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #popup>
  <div class="modal-header">
    Data Berhasil Disimpan
  </div>
  <div class="modal-body">
    <p>Terima kasih atas kerjasamanya, semoga kita sehat selalu</p>
    
    <button class="btn btn-success" type="reset" (click)="modalRef.hide()">
      <i class="fa fa-check mr-2"></i>OK
    </button>
  </div>
</ng-template>
