<div class="container mt-3 mb-5">
  <h3 class="my-0">Observables & Observers</h3>
  <p>
    <span class="text-muted">Reference
      <span>
        <a href="https://rxjs.dev/guide/observable" class="text-decoration-none">
          RxJS Observable overview
        </a>
      </span>
      <span class="mx-1">&</span>
      <span>
        <a href="https://rxjs.dev/guide/observer" class="text-decoration-none">
          RxJS Observer
        </a>
      </span>
    </span>
  </p>
  <hr>
  <div class="my-3">
    <p>Basic observable</p>
  </div>
</div>