<!-- variable.component.html -->
<p-confirmDialog> </p-confirmDialog>
<div class="container-fluid p-4">
  <div class="row">
    <div class="col-12">
      <h2>Variable Management</h2>
      <!-- Form Section -->
      <div class="card mb-4">
        <div class="card-header">
          <h5>{{ isEditing ? "Edit" : "Add New" }} Variable</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="variableForm" (submit)="onSubmit()">
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="user" class="form-label">User </label>
                  <input
                    type="text"
                    class="form-control"
                    id="user"
                    formControlName="user"
                    readonly
                    [class.is-invalid]="
                      variableForm.get('user')?.invalid &&
                      variableForm.get('user')?.touched
                    "
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="name" class="form-label">Name </label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    formControlName="name"
                    readonly
                    [class.is-invalid]="
                      variableForm.get('name')?.invalid &&
                      variableForm.get('name')?.touched
                    "
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="code" class="form-label">Code *</label>
                  <input
                    type="text"
                    class="form-control"
                    id="code"
                    formControlName="code"
                    [class.is-invalid]="
                      variableForm.get('code')?.invalid &&
                      variableForm.get('code')?.touched
                    "
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="value" class="form-label">Value</label>
                  <input
                    type="text"
                    class="form-control"
                    id="value"
                    formControlName="value"
                    [class.is-invalid]="
                      variableForm.get('value')?.invalid &&
                      variableForm.get('value')?.touched
                    "
                  />
                </div>
              </div>
            </div>
            <div class="d-flex gap-2">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="variableForm.invalid"
              >
                {{ isEditing ? "Update" : "Create" }}
              </button>
              <button
                type="button"
                class="btn btn-secondary"
                (click)="cancelEditReguler()"
              >
                Clear
              </button>
              <!-- <button
                type="button"
                class="btn btn-success"
                (click)="openModalForm(null, modalForm)"
                *ngIf="!isEditing"
              >
                Use Modal
              </button> -->
              <!-- <button
                type="button"
                class="btn btn-success"
                [disabled]="variableForm.invalid"
                (click)="openModalForm(null, modalForm)"
                *ngIf="!isEditing"
              >
                Use Modal
              </button> -->
            </div>
          </form>
        </div>
      </div>

      <!-- PrimeNG Table Section -->
      <div class="card">
        <div class="card-header">
          <h5>Variables List</h5>
        </div>
        <div class="card-body">
          <p-table
            [value]="variable"
            [loading]="loading"
            [paginator]="true"
            [rows]="pagination.itemsPerPage"
            [rowsPerPageOptions]="[10, 25, 50]"
            [tableStyle]="{ 'min-width': '75rem' }"
            [totalRecords]="pagination.totalItems"
            [showCurrentPageReport]="true"
            [lazy]="true"
            (onLazyLoad)="pageChanged($event)"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            styleClass="p-datatable-striped"
          >
            <ng-template pTemplate="caption">
              <div
                class="d-flex align-items-center justify-content-between flex-wrap gap-2"
              >
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="openModalForm(null, modalForm)"
                  *ngIf="!isEditing"
                >
                  Add
                </button>
                <!-- <button
                  type="button"
                  class="btn btn-primary"
                  (click)="openModalForm(null, modalForm)"
                  *ngIf="!isEditing"
                >
                  Add
                </button> -->
                <div class="d-flex align-items-center gap-2 text-end">
                  <label for="globalSearch" class="mb-0 fw-semibold"
                    >Global</label
                  >
                  <p-iconfield iconPosition="left">
                    <p-inputicon>
                      <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input
                      id="globalSearch"
                      pInputText
                      type="text"
                      (input)="
                        onGlobalSearch($event)
                      "
                      placeholder="Search keyword"
                      [value]="globalSearch"
                    />
                  </p-iconfield>
                </div>
              </div>
            </ng-template>

            <!-- <ng-template pTemplate="header"> -->
            <ng-template pTemplate="header">
              <tr >
                <th style="width: 22%;">User</th>
                <th style="width: 22%">Name</th>
                <th style="width: 22%">Code</th>
                <th style="width: 22%">Value</th>
                <th style="width: 12%">Actions</th>
              </tr>

              <tr>
                <th>
                  <p-columnFilter
                    type="text"
                    field="user"
                    placeholder="Search by user"
                    ariaLabel="Filter user"
                  ></p-columnFilter>
                </th>

                <th>
                  <p-columnFilter
                    type="text"
                    field="name"
                    placeholder="Search by name"
                    ariaLabel="Filter Name"
                  ></p-columnFilter>
                </th>
                <th>
                  <p-columnFilter
                    type="text"
                    field="code"
                    placeholder="Search by code"
                    ariaLabel="Filter Code"
                  ></p-columnFilter>
                </th>
                <th>
                  <p-columnFilter
                    type="text"
                    field="value"
                    placeholder="Search by value"
                    ariaLabel="Filter value"
                  ></p-columnFilter>
                </th>

                <th></th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-variable>
              <tr>
                <!-- <td>{{ variable.variableId }}</td> -->
                <td>{{ variable.user }}</td>
                <td>{{ variable.name }}</td>
                <td>{{ variable.code }}</td>
                <td>{{ variable.value }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-primary me-2"
                    (click)="editVariable(variable)"
                  >
                    <i class="fa fa-edit"></i> Edit
                  </button>
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-success me-2"
                    (click)="
                      openModalForm(null, modalForm); editVariable(variable)
                    "
                  >
                    <i class="fa fa-edit"></i> With Modal
                  </button>
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-danger"
                    (click)="deleteVariable(variable.variableId!)"
                  >
                    <i class="fa fa-trash"></i> Delete
                  </button>
                </td>
              </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="7" class="text-center">
                  No variables found. Create your first variable using the form
                  above.
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalForm>
  <div class="modal-header">
    <h5 class="modal-title pull-left">
      {{ isEditing ? "Edit" : "Add New" }} Variable
    </h5>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    ></button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <form [formGroup]="variableForm" (submit)="onSubmit()">
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="user" class="form-label">User </label>
                  <input
                    type="text"
                    class="form-control"
                    id="user"
                    formControlName="user"
                    readonly
                    [class.is-invalid]="
                      variableForm.get('user')?.invalid &&
                      variableForm.get('user')?.touched
                    "
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="name" class="form-label">Name </label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    formControlName="name"
                    readonly
                    [class.is-invalid]="
                      variableForm.get('name')?.invalid &&
                      variableForm.get('name')?.touched
                    "
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="code" class="form-label">Code *</label>
                  <input
                    type="text"
                    class="form-control"
                    id="code"
                    formControlName="code"
                    [class.is-invalid]="
                      variableForm.get('code')?.invalid &&
                      variableForm.get('code')?.touched
                    "
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="value" class="form-label">Value</label>
                  <input
                    type="text"
                    class="form-control"
                    id="value"
                    formControlName="value"
                    [class.is-invalid]="
                      variableForm.get('value')?.invalid &&
                      variableForm.get('value')?.touched
                    "
                  />
                </div>
              </div>
            </div>
            <div class="d-flex gap-2">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="variableForm.invalid"
              >
                {{ isEditing ? "Update" : "Create" }}
              </button>

              <button
                type="button"
                class="btn btn-secondary"
                *ngIf="isEditing"
                (click)="cancelEditModal()"
              >
                Clear
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Create/Edit modal -->
