<div class="container-fluid mt-3" [collapse]="!isCollapsed" [isAnimated]="true">
  <p-table
    #ptable
    (onLazyLoad)="loadData($event)"
    [lazy]="true"
    [loading]="isLoading"
    [value]="pallets"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 25, 50]"
    [totalRecords]="pagination.totalItems"
    [paginatorDropdownAppendTo]="itemsPerPage"
    [globalFilterFields]="['palletType','palletLength']"
    styleClass="p-datatable-striped mb-3"
    selectionMode="single"
    sortMode="multiple"
    [responsive]="true"
  >
    <ng-template pTemplate="caption">
      <div class="row">
        <div class="col-4">
          <button
            type="button"
            class="btn btn-primary mr-2"
            (click)="toggleForm()"
          >
            <i class="fa fa-plus mr-2"></i>Add
          </button>
          <button
            type="button"
            class="btn btn-success mr-2"
            (click)="getData()"
          >
            <i class="fa fa-refresh mr-2"></i>Refresh
          </button>
          <button type="button" class="btn btn-secondary mr-3">
            <i class="fa fa-file-excel-o mr-2"></i> Download
          </button>
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-9">
              <div class="row">
                <div class="col-4 form-group mb-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="dd-mm-yyyy"
                    #dp="bsDatepicker"
                    bsDatepicker
                    [bsValue]="bsValue"
                  />
                </div>
                <div class="col-2 form-group mb-3">
                  <button
                    class="btn btn-success"
                    (click)="dp.toggle()"
                    [attr.aria-expanded]="dp.isOpen"
                    type="button"
                  >
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </button>
                </div>
                <div class="col-4 form-group mb-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="dd-mm-yyyy"
                    #dp="bsDatepicker"
                    bsDatepicker
                    [bsValue]="bsValue"
                  />
                </div>
                <div class="col-2 form-group mb-3">
                  <button
                    class="btn btn-success"
                    (click)="dp.toggle()"
                    [attr.aria-expanded]="dp.isOpen"
                    type="button"
                  >
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="flex align-items-center justify-content-between">
                <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input type="text" pInputText (input)="ptable.filterGlobal(globalSearch, 'contains')" placeholder="Search" />
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 10%">
          <div class="flex justify-content-center align-items-center">Type</div>
        </th>
        <th style="width: 10%">
          <div class="flex justify-content-center align-items-center">App</div>
        </th>
        <th style="width: 10%">
          <div class="flex justify-content-center align-items-center">
            Material Type
          </div>
        </th>
        <th style="width: 10%">
          <div class="flex justify-content-center align-items-center">
            Color
          </div>
        </th>
        <th style="width: 10%">
          <div class="flex justify-content-center align-items-center">
            Length
          </div>
        </th>
        <th style="width: 10%">
          <div class="flex justify-content-center align-items-center">
            Width
          </div>
        </th>
        <th style="width: 10%">
          <div class="flex justify-content-center align-items-center">
            Height
          </div>
        </th>
        <th style="width: 10%">
          <div class="flex justify-content-center align-items-center">
            Weight
          </div>
        </th>
        <th style="width: 10%">
          <div class="flex justify-content-center align-items-center">
            Remark
          </div>
        </th>
        <th style="width: 10%">
          <div class="flex justify-content-center align-items-center">
            Created At
          </div>
        </th>
      </tr>
      <tr>
        <th>
          <input
            type="text"
            pInputText
            [(ngModel)]="nameFilter"
            (input)="ptable.filterGlobal(nameFilter, 'contains')"
          />
        </th>
        <th>
          <input
            type="number"
            pInputText
            [(ngModel)]="lengthFilter"
            (input)="ptable.filterGlobal(lengthFilter, 'equals')"
          />
        </th>
        <th>
          <input
            type="number"
            pInputText
            [(ngModel)]="heightFilter"
            (input)="ptable.filterGlobal(heightFilter, 'equals')"
          />
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pallet>
      <tr [pSelectableRow]="pallet">
        <td>{{ pallet.palletType }}</td>
        <td>{{ pallet.palletApp }}</td>
        <td>{{ pallet.materialType }}</td>
        <td>{{ pallet.palletColor }}</td>
        <td>{{ pallet.palletLength }}</td>
        <td>{{ pallet.palletWidth }}</td>
        <td>{{ pallet.palletHeight }}</td>
        <td>{{ pallet.palletWeight }}</td>
        <td>{{ pallet.remark }}</td>
        <td>{{ pallet.createdTime | date : "dd-MMM-yyyy" }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <p-button type="button" icon="pi pi-refresh" (click)="ptable.first = 0" styleClass="p-button-rounded"></p-button>
  </ng-template>
  </p-table>
</div>

<div class="container mt-3 g-2" [collapse]="isCollapsed" [isAnimated]="true">
  <h6>Pallet Type Form</h6>
  <form class="form" [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <div class="row mb-3 p-2">
      <div class="col-6">
        <div class="form-group row mb-3">
          <label for="inputName" class="col-3 col-form-label"
            >Pallet Type</label
          >
          <div class="col-9">
            <input
              type="text"
              class="form-control"
              formControlName="type"
              pInputText
              [ngClass]="{
                'is-invalid':
                  formGroup.get('type').invalid && formGroup.get('type').touched
              }"
            />
            <div class="invalid-feedback">Please insert pallet type</div>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="inputName" class="col-3 col-form-label"
            >Pallet Name</label
          >
          <div class="col-9">
            <input
              type="text"
              class="form-control"
              formControlName="name"
              pInputText
              [ngClass]="{
                'is-invalid':
                  formGroup.get('name').invalid && formGroup.get('name').touched
              }"
            />
            <div class="invalid-feedback">Please insert pallet name</div>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="inputName" class="col-3 col-form-label"
            >Pallet Codification</label
          >
          <div class="col-9">
            <p-radioButton
              name="codification"
              value="1"
              [(ngModel)]="ipCodification"
              formControlName="codification"
              [ngClass]="{
                'is-invalid':
                  formGroup.get('codification').invalid &&
                  formGroup.get('codification').touched
              }"
              label="Automatic"
              class="m-1"
            ></p-radioButton>
            <p-radioButton
              name="codification"
              value="2"
              [(ngModel)]="ipCodification"
              formControlName="codification"
              label="Manual"
              [ngClass]="{
                'is-invalid':
                  formGroup.get('codification').invalid &&
                  formGroup.get('codification').dirty
              }"
              class="m-1"
            ></p-radioButton>
            <p-radioButton
              name="codification"
              value="3"
              [(ngModel)]="ipCodification"
              formControlName="codification"
              label="Automatic/Manual"
              [ngClass]="{
                'is-invalid':
                  formGroup.get('codification').invalid &&
                  formGroup.get('codification').dirty
              }"
              class="m-1"
            ></p-radioButton>
            <div class="invalid-feedback">
              Please choose pallet codification
            </div>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="inputName" class="col-3 col-form-label">Pallet App</label>
          <div class="col-9">
            <p-dropdown
              [style]="{ width: '100%' }"
              [options]="dApp"
              [(ngModel)]="ipApp"
              optionLabel="label"
              optionValue="value"
              formControlName="app"
              [ngClass]="{
                'ng-invalid ng-dirty is-invalid':
                  formGroup.get('app').invalid && formGroup.get('app').touched
              }"
            ></p-dropdown>
            <div class="invalid-feedback">Please choose APP</div>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label class="col-3 col-form-label">Material Type</label>
          <div class="col-9">
            <p-dropdown
              [style]="{ width: '100%' }"
              [options]="dMaterial"
              [(ngModel)]="ipMaterial"
              optionLabel="label"
              optionValue="value"
              formControlName="materialType"
              [ngClass]="{
                'ng-invalid ng-dirty is-invalid':
                  formGroup.get('materialType').errors &&
                  formGroup.get('materialType').touched
              }"
            ></p-dropdown>
            <div class="invalid-feedback">Please choose material</div>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="inputName" class="col-3 col-form-label"
            >Pallet Color</label
          >
          <div class="col-9">
            <p-dropdown
              [style]="{ width: '100%' }"
              [options]="dColor"
              [(ngModel)]="ipColor"
              optionLabel="label"
              optionValue="value"
              formControlName="color"
              [ngClass]="{
                'ng-invalid ng-dirty is-invalid':
                  formGroup.get('color').invalid &&
                  formGroup.get('color').touched
              }"
            ></p-dropdown>
            <div class="invalid-feedback">Please choose pallet color</div>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="inputName" class="col-3 col-form-label"
            >Pallet Currency</label
          >
          <div class="col-9">
            <p-dropdown
              [style]="{ width: '100%' }"
              [options]="dCurrency"
              [(ngModel)]="ipCurrency"
              optionLabel="label"
              optionValue="value"
              formControlName="currency"
              [ngClass]="{
                'ng-invalid ng-dirty is-invalid':
                  formGroup.get('currency').invalid &&
                  formGroup.get('currency').dirty
              }"
            ></p-dropdown>
            <div class="invalid-feedback">Please choose currency type</div>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="inputName" class="col-3 col-form-label"
            >Record Status</label
          >
          <div class="col-9">
            <p-checkbox
              name="recordStatus"
              formControlName="recordStatus"
              value="1"
              [(ngModel)]="ipStatus"
              label="Active"
            ></p-checkbox>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group row mb-3">
          <label for="inputName" class="col-3 col-form-label"
            >Pallet Length</label
          >
          <div class="col-9">
            <div class="row">
              <div class="col-6">
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="ipLength"
                  formControlName="length"
                  value="0"
                  pInputText
                  [ngClass]="{
                    'is-invalid':
                      formGroup.get('length').invalid &&
                      formGroup.get('length').touched
                  }"
                />
              </div>
              <div class="col-6">
                <p-dropdown
                  [style]="{ width: '100%' }"
                  [options]="dMeasure"
                  [(ngModel)]="ipLengthType"
                  optionLabel="label"
                  optionValue="value"
                ></p-dropdown>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="inputName" class="col-3 col-form-label"
            >Pallet Width</label
          >
          <div class="col-9">
            <div class="row">
              <div class="col-6">
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="ipWidth"
                  formControlName="width"
                  value="0"
                  pInputText
                  [ngClass]="{
                    'is-invalid':
                      formGroup.get('width').invalid &&
                      formGroup.get('width').touched
                  }"
                />
                <div class="invalid-feedback">Insert a valid width</div>
              </div>
              <div class="col-6">
                <p-dropdown
                  [style]="{ width: '100%' }"
                  [options]="dMeasure"
                  [(ngModel)]="ipWidthType"
                  formControlName="widthType"
                  optionLabel="label"
                  optionValue="value"
                ></p-dropdown>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="inputName" class="col-3 col-form-label"
            >Pallet Height</label
          >
          <div class="col-9">
            <div class="row">
              <div class="col-6">
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="ipHeight"
                  formControlName="height"
                  value="0"
                  pInputText
                  [ngClass]="{
                    'is-invalid':
                      formGroup.get('height').invalid &&
                      formGroup.get('height').touched
                  }"
                />
                <div class="invalid-feedback">Insert a valid height</div>
              </div>
              <div class="col-6">
                <p-dropdown
                  [style]="{ width: '100%' }"
                  [options]="dMeasure"
                  [(ngModel)]="ipHeightType"
                  optionLabel="label"
                  optionValue="value"
                  formControlName="heightType"
                ></p-dropdown>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="inputName" class="col-3 col-form-label"
            >Pallet Weight</label
          >
          <div class="col-9">
            <div class="row">
              <div class="col-6">
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="ipWeight"
                  formControlName="weight"
                  pInputText
                  value="0"
                  [ngClass]="{
                    'is-invalid':
                      formGroup.get('weight').invalid &&
                      formGroup.get('weight').touched
                  }"
                />
                <div class="invalid-feedback">Insert a valid weight</div>
              </div>
              <div class="col-6">
                <p-dropdown
                  [style]="{ width: '100%' }"
                  [options]="dWeight"
                  [(ngModel)]="ipWeightType"
                  formControlName="weightType"
                  optionLabel="label"
                  optionValue="value"
                ></p-dropdown>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row mb-3">
          <label for="inputName" class="col-3 col-form-label"
            >Pallet Price</label
          >
          <div class="col-9">
            <input
              type="number"
              class="form-control"
              [(ngModel)]="ipPrice"
              formControlName="price"
              pInputText
              value="0"
              [ngClass]="{
                'ng-invalid ng-dirty is-invalid':
                  formGroup.get('price').invalid &&
                  formGroup.get('price').touched
              }"
            />
            <div class="invalid-feedback">Insert a valid price</div>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="inputName" class="col-3 col-form-label">Remark</label>
          <div class="col-9">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="ipRemark"
              formControlName="remark"
              pInputText
              [ngClass]="{
                'is-invalid':
                  formGroup.get('remark').invalid &&
                  formGroup.get('remark').touched
              }"
            />
            <div class="invalid-feedback">please insert remark</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <button
          type="submit"
          class="btn btn-primary mr-2"
          [disabled]="!formGroup.valid"
        >
          <i class="fa fa-clipboard mr-2" aria-hidden="true"></i>Save
        </button>
        <button type="button" class="btn btn-danger" (click)="toggleForm()">
          <i class="fa fa-window-close mr-2" aria-hidden="true"></i>Cancel
        </button>
      </div>
    </div>
  </form>
</div>
